<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/pages/home">
            <img src="/assets/images/logo.png" alt="Curiosity Arc" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/pages/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/who-we-are">Who We Are</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/curiosity-in-action">Curiosity in Action</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/curiosity-chronicles">Curiosity Chronicles</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/join-the-arc">Join the Arc</a></li>
            </ul>
        </div>
    </div>
</nav>
